/* IMPORT ADITIONAL FILES */
@import "./global.css";

/***** BEGIN: Section Hero *****/
main .hero {
  /* Box model */
  padding: 60px 0px;

  /* Misc */
  background-color: var(--section-BG);
}
main .hero-content {
  /* Box model */
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  main .hero-content {
    /* Box model */
    width: calc(var(--mobile-landscape) - 15%);
  }
}
@media (min-width: 768px) {
  main .hero-content {
    /* Box model */
    width: calc(var(--tablet-portrait) - 40%);

    /* Typographic */
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  main .hero-content {
    /* Box model */
    width: calc(var(--small-desktop) - 40%);

    /* Typographic */
    font-size: 2.1rem;
  }
}
@media (min-width: 1200px) {
  main .hero-content {
    /* Box model */
    width: calc(var(--desktop) - 40%);

    /* Typographic */
    font-size: 2.5rem;
  }
}
@media (min-width: 1400px) {
  main .hero-content {
    /* Box model */
    width: calc(var(--desktop) - 30%);

    /* Typographic */
    font-size: 2.5rem;
  }
}
main .quote {
  /* Box model */
  margin-bottom: 30px;
}
main .quote-content {
  /* Typographic */
  font-style: italic;
}
main .quote .quote-author {
  /* Box Model */
  display: block;

  /* Typographic */
  font-weight: 500;
  text-align: right;
}
main .card-title {
  /* Box Model */
  margin-bottom: 30px;
  /* Typographic */
  font-weight: 300;
  font-size: 3.5rem;
  text-align: center;
}
@media (min-width: 576px) {
  main .card-title {
    /* Typographic */
    font-weight: 400;
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  main .card-title {
    /* Typographic */
    font-size: 4.5rem;
  }
}
@media (min-width: 992px) {
  main .card-title {
    /* Typographic */
    font-size: 5.7rem;
  }
}
@media (min-width: 1200px) {
  main .card-title {
    /* Typographic */
    font-size: 6.3rem;
  }
}
/***** END: Section Hero *****/

/***** BEGIN: Section Grid-Layout *****/
main .grid-layout {
  padding: 60px 40px;
}
main .grid-layout .grid-container {
  /* Box Model */
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
main .grid-container .grid-item-1 {
  grid-row: 1;
  grid-column: 1;
}
main .grid-container .grid-item-2 {
  grid-row: 1;
  grid-column: 2;
}
main .grid-container .grid-item-3 {
  grid-row: 2;
  grid-column: 1;
}
main .grid-container .grid-item-4 {
  grid-row: 2;
  grid-column: 2;
}
main .grid-container .grid-item-5 {
  grid-row: 3;
  grid-column: 1;
}
main .grid-container .grid-item-6 {
  grid-row: 3;
  grid-column: 2;
}
main .grid-container .grid-item-7 {
  grid-row: 4;
  grid-column: 1;
}
main .grid-container .grid-item-8 {
  grid-row: 4;
  grid-column: 2;
}
main .grid-container .grid-item-9 {
  grid-row: 5;
  grid-column: 1;
}
[class^="grid-item"] {
  /* Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 3px dashed #f90;
  font-size: 30px;
  color: #333;

  /* Visual */
  background-color: #e4e4e4;
}
/* ****************************** */
/* Positioning */
/* Box Model */
/* Typographic */
/* Visual */
/* Misc */
