* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.section-navbar {
  /* Box Model */
  width: 100%;
  height: 25vh;
}

.section-about {
  /* Box Model */
  padding: 55px 0;
  /* Visual */
  background-color: #f2f2f2;
}
.section-about .my-first-grid {
  /* Box Model */
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

/* *********************************** */
.section-about-2 {
  /* Box Model */
  padding: 55px 0;
  /* Visual */
  background-color: #8f8d8d;
  border: 3px solid red;
}
.section-about-2 .flex-grid {
  /* Box Model */
  width: 80%;
  max-width: 769px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid green;
}
@media (min-width: 768px) {
  .section-about-2 .flex-grid {
    /* Box Model */
    flex-direction: row;
  }
}

[class^="flex-item"] {
  /* Box Model */
  border: 1px solid blue;
}
@media (min-width: 992px) {
  [class^="flex-item"] {
    /* Box Model */
    width: 50%;
  }
}
