/* CSS: Navbar Styles */
nav {
  /* Box model */
  width: 90%;
  min-width: 375px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) {
  nav {
    width: var(--theme-width-sm);
  }
}
@media (min-width: 768px) {
  nav {
    width: var(--theme-width-md);
  }
}
@media (min-width: 992px) {
  nav {
    width: var(--theme-width-lg);
  }
}
@media (min-width: 1200px) {
  nav {
    width: var(--theme-width-xl);
  }
}

nav a:first-child img {
  /* Box model */
  width: 80px;
}
nav a:last-child img {
  /* Box model */
  width: 40px;
}
#btn-menu {
  display: none;
}
#btn-menu:checked ~ #sec-shopping-cart {
  margin: 0;
}
#sec-shopping-cart {
  /* Box model */
  width: 100%;
  height: 100vh;
  right: 0;
  position: absolute;
  margin: -250% auto;
  transition: 0.5s;
  background-color: #fff;
}
/* Positioning */
/* Box model */
/* Typographic */
/* Visual */
/* Misc */
