* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS: Header */
header {
  width: 80%;
  margin: 30px auto;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav li {
  width: 200px;
  padding: 15px 0;
  color: #333;
  font-weight: 700;
  text-align: center;
  border: 1px solid #edf1f5;
  list-style: none;
  border-radius: 10px;
  background-color: #f9f9f9;
}
nav ul li a {
  text-decoration: none;
}

/* SECTION: Hero */
.hero {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://cdn.pixabay.com/photo/2016/08/30/16/26/banner-1631295__340.jpg);
}
.hero span {
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
}

/* SECTION: mensaje */
.mensaje {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mensaje .linea-1,
.mensaje .linea-2 {
  display: flex;
  flex-direction: column;
  color: #1d1d1f;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
}

.mensaje p,
.horario p {
  width: 860px;
  margin-top: 15px;
  display: inline-flex;
  color: #86868b;
  font-size: 20px;
  text-align: center;
}

/* SECTION: horario */
.horario {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horario span {
  color: #ff6600;
  font-size: 48px;
}
.horario p {
  display: inline-flex;
  justify-content: center;
}

/* FOOTER */
footer {
  margin-top: 60px;
  padding: 40px 0;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c32;
}
footer .social,
footer .lista {
  display: flex;
  justify-content: space-around;
}
footer .social {
  width: 20%;
}
footer .social a {
  width: 40px;
  height: 40px;
  color: #282c32;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}
footer .lista {
  width: 60%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .lista li {
  list-style: none;
}
footer .lista li a {
  text-decoration: none;
  color: #fff;
}
