* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #fefefe;
  background-color: #121212;
}
main {
  width: 50%;
  margin: 0 auto;
}
.video,
.audio {
  padding: 30px;
}
h2 {
  color: #a7a7a7;
}
