/***** SESCTION: Avatar *****/
.section-avatar {
  /* Box Model */
  padding: 60px 0;
  /* Visual */
  background-color: var(--section-BG);
}
@media (min-width: 992px) {
  .section-avatar {
    /* Positioning */
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    padding-right: 30px;
  }
}

/***** DIV: Figure *****/
.section-avatar figure {
  /* Positioning */
  position: relative;
  z-index: 1;

  /* Box Model */
  width: 80%;
  height: 60vh;
  margin: 0 auto;

  /* Misc */
  background-image: url("https://i.postimg.cc/KYY69VcS/Marco-y-Papa-3.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .section-avatar figure {
    /* Box Model */
    height: 100vh;

    /* Visual */
    border-radius: 10px;

    /* Misc  */
    background-size: contain;
  }
}
@media (min-width: 992px) {
  .section-avatar figure {
    /* Positioning */
    left: 20%;

    /* Box Model */
    width: 400px;
    height: 65vh;

    /* Misc */
    background-position: 0% 15%;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
}
@media (min-width: 1200px) {
  .section-avatar figure {
    /* Box Model */
    width: 500px;
  }
}
@media (min-width: 1400px) {
  .section-avatar figure {
    /* Box Model */
    width: 400px;
  }
}

/***** DIV: Rectangle *****/
.section-avatar .rectangle {
  /* Positioning */
  position: absolute;
  top: 250px;

  /* Box Model */
  width: 50%;
  height: 228px;

  /* Visual */
  background-color: var(--color-red);
}
@media (min-width: 768px) {
  .section-avatar .rectangle {
    /* Box Model */
    width: 100%;
    height: 228px;

    /* Visual */
    background-color: var(--color-red);
  }
}
/***** CARD: About Me *****/
.section-avatar .about {
  /* Positioning */
  position: relative;
  top: 30px;

  /* Box Model */
  width: 80%;
  margin: 0 auto;
  padding: 30px;

  /* Visual */
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

  /* Typographic */
  text-align: center;
}

.section-avatar .about span {
  /* Typographic */
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.section-avatar .about h2 {
  /* Typographic */
  margin-top: 1.8rem;
}
.section-avatar .about p {
  /* Typographic */
  margin-top: 2.8rem;
}
